@charset "UTF-8";

/*参加者のスクロール範囲内設定　marginで余白*/
.box{
    height: 400px;
    width: 45%;
    margin-top:5%;
    margin-bottom:5%;
  }

.scroll {
     /*overflow: scroll;*/
     overflow-y:scroll;
     
}
.scroll::-webkit-scrollbar{height:10px;}/*バーの太さ*/
.scroll::-webkit-scrollbar-track{background:#78c244;}/*バーの背景色*/
.scroll::-webkit-scrollbar-thumb{background:#a6fd68;}/*バーの色*/


/* テーブルの中に下線を引く */
.member th,.member td{
    border-bottom: 2px solid #FFFFFF;
    padding: 10px;
}


/*文字色　文字サイズ　背景色*/
body {
    color: white;
    font-size: 120%;
    background-color: #92DB5E;
    width:700px;
    margin-right: auto;
    margin-left : auto;
}


/*  */


/* ルーム名の背景色 */
h1 {
    width: 600px;               /* 幅指定 */
    height: 50px;              /* 高さ指定 */
    border: solid 2px #78c244;     /* 枠線指定 */
    background-color: #78c244;     /* 背景色指定 */
    border-radius: 10px;        /* 角丸指定 */
}


/*リンクボタンのアンダーバーを消す*/
a { text-decoration: none; }

/*はじめるボタン　marginで余白*/
.room-enter_btn02 {
    display: block;
    margin-bottom: 5%;
}

/*解散するボタン*/
.room-dismiss_btn {
    display: block;
}