@charset "UTF-8";

/*回答リスト範囲内設定　marginで余白*/
.answer_list {
     margin-right: auto;
     margin-left : auto;
     height: 400px;
     width: 90%;
     overflow-y: scroll;
     margin-top:5%;
     margin-bottom:5%;
     color:black
}

.radiobutton {
    display: none;
  }
  label {
    background-color: #e3f3d7;
    padding: 10px 20px;
  }
  .radiobutton:checked + label {
    background-color: pink;
  }


  /*決定ボタン自体の配置や見た目*/
.decision_btn {
    display: block; /* ブロック化する */
    margin-right: auto;
    margin-left : auto;   
}

/*モーダルを開くボタン自体の配置や見た目*/
.config {
    display: block; /* ブロック化する */
    margin-right: auto;
    margin-left : auto;   
}

  /*モーダル設定*/
.modal {
    position: absolute;
    top: 10%;
    bottom:10%;
    left: 7%;
    background-color: #979596;
    width:85%;
    border: solid 8px #665262;
    height: 150%;
    text-align: center;
    display: none;
}

/*モーダル疑似空間*/
.modal_content {
  width:80%;
  margin:0 auto;
  margin-top:25%;
}

/*モーダル内テキストサイズ　カラー*/
.modal_text {
    font-size: 14px;
    color: #0e0d0d;
}

/*モーダル内　解散するボタン設定*/
.room_dismiss_btn {
    margin-top: 15%;
    margin-right: auto;
    margin-left : auto;
}

/*モーダルキャンセルボタン設定*/
.modal_close {
    position: absolute;
    font-size:80px;
    right:5%;
    top:0%;
    cursor:pointer;
}

/*設定ボタン　marginで余白*/
.config {
    margin: 20px;
}

/*文字色　文字サイズ　背景色*/
body {
    margin-right: auto;
    margin-left : auto;
    color: white;
    font-size: 120%;
    background: linear-gradient(-45deg, #f9c2eb, #a8c2ee, #c2f9d0, #ffdea5) fixed;
 background-size: 800% 800%;
  animation: GradietionAnimation 9s ease infinite;
}

@keyframes GradietionAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }


