@charset "UTF-8";

.member {
     height: 400px;
     width: 90%;
     overflow-y: scroll;
     margin-top:5%;
     margin-bottom:5%;
}

body {
    color: white;
    font-size: 120%;
    background-color: #92DB5E;
}

a { text-decoration: none; }

.room-enter_btn02 {
    display: block;
    margin-bottom: 5%;
}

.room-dismiss_btn {
    display: block;
}