@charset "UTF-8";

.answer_list {
     height: 400px;
     width: 90%;
     overflow-y: scroll;
     margin-top:5%;
     margin-bottom:5%;
}

.content {
    background-color: #92DB5E; color: rgb(255, 255, 255);
} 
body {
    color: white;
    font-size: 120%;
    background-color: #92DB5E;
}

  
.modal {
    position: absolute;
    top: 10%;
    bottom:10%;
    left: 7%;
    background-color: #979596;
    width:85%;
    border: solid 8px #665262;
    height: 50%;
    text-align: center;
    display: none;
}

.modal_content {
  width:80%;
  margin:0 auto;
  margin-top:25%;
}

.modal_text {
    font-size: 14px;
    color: #0e0d0d;
}

.room_dismiss_btn {
    margin-top: 15%;
}

.modal_close {
    position: absolute;
    font-size:80px;
    right:5%;
    top:0%;
    cursor:pointer;
}

.config {
    margin: 20px;
}