@charset "UTF-8";

.answer_list {
     height: 600px;
     width: 90%;
     overflow-y: scroll;
     margin-top:5%;
     margin-bottom:5%;
}

.content {
    background-color: #92DB5E; color: rgb(255, 255, 255);
} 
body {
    color: white;
    font-size: 120%;
    background-color: #92DB5E;
}

.decision_btn{
    display:block;
    margin-bottom: 5%;

}

.modal {
    position: absolute;
    top: 10%;
    bottom:10%;
    left: 7%;
    background-color: #979596;
    padding: 20px 0 40px;
    width:85%;
    border: solid 8px #665262;
    height: 50%;
    text-align: center;
    display: none;
}

.modal_content {
    width:80%;
    margin:0 auto;
    margin-top:25%;
}

.modal_text {
    font-size: 14px;
    color: #0e0d0d;
}

.no_btn {
    margin-top: 15%;
}

.close_btn {
    position: absolute;
    font-size:80px;
    right:5%;
    top:0%;
    cursor:pointer;
}

a { text-decoration: none; }